body{
    background-color: white;
}


img{
    height: 100vh;
    margin: auto;
    position: relative;
    width: 40vw;
} p{
    color: white;
}
.container{
    width: 100vw;
    position: fixed;
    overflow-x: hidden;
    z-index: -1;
    left: 5rem;
}
.container2{
    height: 60vw;
}